.card-img-top {
    margin-top: 15px;
    max-width: 160px;
	max-height: 50px;
}

.card {
    min-height: 240px;
}

.card a {
    margin-top: 26px;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
    transition: 0.5s;
}