<?xml version="1.0" encoding="utf-8"?>
<LacunaPkiLicense xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Version>3</Version>
  <Id>f944a1c5-2dbc-4a77-af42-da0f58b5e997</Id>
  <Licensee>PKI Suite Samples</Licensee>
  <IssueDate>2024-09-09 17:14:09Z</IssueDate>
  <Expiration>2024-11-30 15:00:00Z</Expiration>
  <Signature>e55+BBXGWa0RK61FkIedDAuwlumK+32XGnY5/Q1Wi5x5y8KE+nLvl0ypD8SDqZxrl6opHKOOIMTj+2tTeUPRp4fnS4waUE+RctHHEcmYstCfn1Qxv+/pIK2qD/iZq03z/ZHgoZqpB8aYPdXLTac9THPZ4Fk6BOQqdI5e7yYu5ei/JqDbocCSyMjBizCy/3kTWxcQF4bP9oI/ZBz2jZuBqNo47ooZDOyf9LOWh95conRl7UNNwa9B4nKVyt/5QR5YE/fruZj+4Ka6rDttxkvVRkovY+YZsBUiMfWOFsdhdPV5M8Dv0kyo9lhkDg2qZzCAd6w9vVNczjN5uEYYeNWz4w==</Signature>
  <Features>127</Features>
</LacunaPkiLicense>