<?xml version="1.0"?>
<LacunaPkiLicense xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Version>3</Version>
  <Id>16cd0eef-e684-4483-8bd4-c67c636085fa</Id>
  <Licensee>PKI Suite Samp</Licensee>
  <IssueDate>2022-05-02 19:50:59Z</IssueDate>
  <Expiration>2022-06-30 15:00:00Z</Expiration>
  <Signature>3yhNV8Iov56ujT3p6a81KoilS9j5EOio5UxNObCQFHaCTEBz91XOMf3AirJCagoH5sedNpzd9e6e0bBNO5SPUyImaNaBlb4E4qnETKYUrrv6X+c9qQmCoAEaobWhHXtsIEccDpZXPDPZ9nJrRznBIt0YzL5FWhxUzR2EcdpAIMCnXqIRLqtAm3jE7sdhjKk0m4MOZyI1Yo5sSKMv+2nJfR+D6ei15qqcmo0VYUJPHyJ7uxeiYGf411DWpTq+/s+WJXV9Rw9NMlBU30IUJ+WRGKkX4vQlCyRdLo9QTfnvYDBITEU/yD8X8CbDeqm79PaCiJFyLGxZQ/2l/TTnuiZE5g==</Signature>
  <Features>127</Features>
</LacunaPkiLicense>