<?xml version="1.0" encoding="utf-8"?>
<LacunaPkiLicense xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Version>3</Version>
  <Id>e927b42f-8fa9-42f2-9425-924dc5830333</Id>
  <Licensee>PKI Suite Samples</Licensee>
  <IssueDate>2024-10-01 18:05:11Z</IssueDate>
  <Expiration>2024-11-30 15:00:00Z</Expiration>
  <Signature>6o8g5V4vXO/cEiAb0ed+9DIFPXosxvF3ihh45bBdsTPqr2u69fZdGyHG1hcx9GPikqvxGQC0WbhT9jq7twJlyKUDKKvImFwTpD2qNnG9SaUqQCqUkj4eIJNUB/IeQrKJ3zeCMTHxfEgiIlcsSLIJCVtIC2ooQpGicnezkjj9Sw19zWXmW/94ORervGgigwUlgEIYX8Zb8QATs/eoBEj11QhD7mKDffeGWsayVV9vA4n47wNsoFgkwEa6NdwQ563VNWKgAPGz059VlorWz0bM/auhuM8fpXEFL+WUoLjd6bCFFMgFL34+wwWeYcFpjSkwihQpom9r+OvWckYRpYbTjw==</Signature>
  <Features>127</Features>
</LacunaPkiLicense>