<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" th:include="layout :: page">
<head>
	<!-- region Styles -->
	<link th:fragment="style" rel="stylesheet" href="https://cdn.lacunasoftware.com/styles.c87e17c78cd2c969b0f3.css"/>
	<!-- endregion -->
</head>
<body>

<!-- region Content -->
<app-root th:fragment="content"></app-root>
<!-- endregion -->

<!-- region Scripts  -->
<script th:fragment="scripts" type="text/javascript">
	SampleRoutes = {
		authCert: {
			// express: '',
			restpki: '/authentication-restpki'
		},
		// cosignCms: { },
		// cosignPdf: { },
		// issueCertServer: { },
		// issueCertUser: { },
		// listCert: { },
		// mergeCmsSigs: { },
		// printerFriendlyCms: { },
		// printerFriendlyPdf: { },
		// readCert: { },
		// rsa: { },
		// signCmsServer: { },
		// signCmsUser: { },
		// signCmsServerKey: { },
		// signCod: { },
		// signMultiCmsServer: { },
		// signMultiCmsUser: { },
		// signMultiPdfServer: { },
		// signMultiPdfUser: { },
		// signNfe: { },
		// signPdfServer: { },
		// signPdfUser: { },
		// signPdfServerKey: { },
		// signXmlServer: { },
		// signXmlServerKey: { },
		// signaturePackage: { },
		// validateCmsSig: { },
		// validatePdfSig: { },
		// validateXmlSig: { }
	};
</script>
<script th:fragment="scripts" type="text/javascript" src="https://cdn.lacunasoftware.com/runtime.a66f828dca56eeb90e02.js"></script>
<script th:fragment="scripts" type="text/javascript" src="https://cdn.lacunasoftware.com/polyfills.27ba7ccfa975df7b6881.js"></script>
<script th:fragment="scripts" type="text/javascript" src="https://cdn.lacunasoftware.com/main.0585c4f951b6e08dcd4d.js"></script>
<!-- endregion -->

</body>
</html>