<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  th:include="layout :: page">
<head>
	<!-- region Styles -->
	<link th:fragment="style" rel="stylesheet" href="https://cdn.lacunasoftware.com/pki-suite-samples/styles.c87e17c78cd2c969b0f3.css"/>
	<!-- endregion -->
</head>
<body>

<!-- region Content -->
<app-root th:fragment="content"></app-root>
<!-- endregion -->

<!-- region Scripts  -->
<script th:fragment="scripts" type="text/javascript">
	/* <![CDATA[ */
	SampleRoutes = {
		authCert: {
			express: '/check-express?rc=authentication',
			restpki: '/check-rest-token?rc=authentication'
		},
		cosignCms: {
			express: '/check-express?rc=server-files&fwd=cades-signature&op=cosignCms',
			restpki: '/check-rest-token?rc=server-files&fwd=cades-signature&op=cosignCms'
		},
		cosignPdf: {
			express: '/check-express?rc=server-files&fwd=pades-signature&op=cosignPdf',
			restpki: '/check-rest-token?rc=server-files&fwd=pades-signature&op=cosignPdf'
		},
		issueCertServer: {
			amplia: '/check-amplia-api-key?rc=issue-cert-server'
		},
		issueCertUser: {
			amplia: '/check-amplia-api-key?rc=issue-cert-user'
		},
		listCert: {
			jquery: '/list-cert-jquery',
			select2: '/list-cert-select2'
		},
		// mergeCmsSigs: { },
		// printerFriendlyCms: { },
		printerFriendlyPdf: {
			//express:
			restpki: '/check-rest-token?rc=server-files&fwd=printer-friendly-pades&op=printerFriendlyPdf'
		},
		readCert: {
			jquery: '/read-cert-jquery',
			select2: '/read-cert-select2'
		},
		rsa: {
			webpki: '/rsa-web'
		},
		signCmsServer: {
			express: '/check-express?rc=server-files&fwd=cades-signature&op=signCms',
			restpki: '/check-rest-token?rc=server-files&fwd=cades-signature&op=signCms'
		},
		signCmsUser: {
			express: '/check-express?rc=upload&fwd=cades-signature',
			restpki: '/check-rest-token?rc=upload&fwd=cades-signature'
		},
		// signCmsServerKey: { },
		// signCod: { },
		// signMultiCmsServer: { },
		// signMultiCmsUser: { },
		signMultiPdfServer: {
			express: '/check-express?rc=batch-signature',
			restpki: '/check-rest-token?rc=batch-signature'
		},
		// signMultiPdfUser: { },
		// signNfe: { },
		signPdfServer: {
			express: '/check-express?rc=server-files&fwd=pades-signature&op=signPdf',
			restpki: '/check-rest-token?rc=server-files&fwd=pades-signature&op=signPdf'
		},
		signPdfUser: {
			express: '/check-express?rc=upload&fwd=pades-signature',
			restpki: '/check-rest-token?rc=upload&fwd=pades-signature'
		},
		signPdfServerKey: {
			express: '/check-express?rc=upload&fwd=pades-server-key'
		},
		 signPdfCloudPwd: {
			express: '/check-express?rc=upload&fwd=pades-cloud-pwd'
		 },
		 signPdfCloudOAuth: {
			 express: '/check-express?rc=upload&fwd=pades-cloud-oauth'
		 },
		// signXmlServer: { },
		// signXmlServerKey: { },
		// signaturePackage: { },
		// validateCmsSig: { },
		validatePdfSig: {
			express: '/check-express?rc=upload&fwd=open-pades',
			restpki: '/check-rest-token?rc=upload&fwd=open-pades'
		}
		// validateXmlSig: { }
	};
	 /* ]]> */
</script>
<script th:fragment="scripts" type="text/javascript" src="https://cdn.lacunasoftware.com/pki-suite-samples/runtime.a66f828dca56eeb90e02.js"></script>
<script th:fragment="scripts" type="text/javascript" src="https://cdn.lacunasoftware.com/pki-suite-samples/polyfills.4fad4f57426952c5568b.js"></script>
<script th:fragment="scripts" type="text/javascript" src="https://cdn.lacunasoftware.com/pki-suite-samples/main.2f29231baf2b86312281.js"></script>
<!-- endregion -->

</body>
</html>