extends ../layout

block content

    h2 Inform your CPF

    form(id='cpfForm', method='POST')

        div(class='form-group')
         label
            b CPF
         div(class='row')
            div(class='col col-sm-2')
               input(id='cpfField', name='cpf', class="form-control", type="text", placeholder='Nº CPF', required=true)
        
        button(id='loginButton', class='btn btn-primary') Login

block scripts

   //- The file below contains the logic for filling and validating form. It is only an example, feel free to alter
   //- it to meet your application's needs. You can also bring the code into the javascript block below if you prefer.
   script(src='/javascripts/authentication-cloudhub-form.js')

   script.
      $(document).ready(function () {
         // Once the page is ready, we call the init() function on the javascript code (see issue-cert-form.js).
         authCloudHubForm.init({
            cpfField: $('#cpfField'),                 // The "cpf" field reference.
            loginButton: $('#loginButton')            // The button that initiates the issuing operation on server-side.
         });
      });