extends ../layout

block content

   h2(class='ls-title') Authentication Using Cloud Certificate with CloudHub

   h5
      | Authentication failed&nbsp;
      i(class='fas fa-times-circle', style='color: red;')

   p !{vrHtml}

   p
      a(href='/authentication-cloudhub' class='btn btn-primary') Try Again