<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Error</title>
</head>
<body>
	@using System.Web.Mvc
	@model HandleErrorInfo

	<hgroup>
		<h2>Some error has occurred</h2>
		<h3>@Html.Raw(Model.ActionName + "() on " + Model.ControllerName + "Controller")</h3>
	</hgroup>

	<label for="message">Error Message</label>
	<p id="message">@Model.Exception.Message</p>

	<label for="trace">Stack Trace</label>
	@{
		var stackHtml = Model.Exception.StackTrace.Replace("\n", "<br>").Replace("\t", "&nbsp;&nbsp;&nbsp;&nbsp;");
	}
	<p id="trace">@Html.Raw(stackHtml)</p>
</body>
</html>
