{% extends "layout.html" %}

{% block content %}

    <h2 class="ls-title">Issue a certificate storing the private key on user's machine</h2>

    <form id="issueForm" method="POST">

        <h4>ICP-Brazil Certificate</h4>

        <div class="form-group">
            <label><b>Subject Name</b></label>
            <div class="row">
                <div class="col col-sm-4">
                    <input id="subjectNameField" name="subjectName" class="form-control" type="text" placeholder="Name" required />
                </div>
            </div>
        </div>

        <div class="form-group">
            <label><b>CPF</b></label>
            <div class="row">
                <div class="col col-sm-4">
                    <input id="cpfField" name="cpf" class="form-control" type="text" placeholder="Nº CPF" required />
                </div>
            </div>
        </div>

        <div class="form-group">
            <label><b>Telephone</b></label>
            <div class="row">
                <div class="col col-sm-3">
                    <input id="phoneNumberField" name="phoneNumber" type="hidden" class="form-control" />
                    <div class="input-group">
                        <div class="input-group-preprend">
                            <span class="input-group-text">+55</span>
                        </div>
                        <input id="phoneNumberInput" type="text" class="form-control" placeholder="(12) 34567-8901" required />
                    </div>
                </div>
            </div>
        </div>

        <button id="issueButton" class="btn btn-primary">Issue Certificate</button>
    </form>

{% endblock %}

{% block scripts %}

    <!--
		 The file below contains the logic for filling and validating form. It is
		 only an example, feel free to alter it to meet your application's needs.
		 You can also bring the code into the javascript block below if you prefer.
	-->
	<script src="{{ url_for('static', filename='js/issue-cert-form.js') }}"></script>
    <script>
        $(document).ready(function () {
            // Once the page is ready, we call the init() function on the
            // javascript code (see issue-cert-form.js).
            issueCertForm.init({
                issueForm: $('#issueForm'),               // The form that should be submitted when the button "issueButton" is clicked.
                subjectNameField: $('#subjectNameField'), // The "subjectName" field reference.
                cpfField: $('#cpfField'),                 // The "cpf" field reference.
                phoneNumberField: $('#phoneNumberField'), // The "phoneNumber" field reference.
                phoneNumberInput: $('#phoneNumberInput'), // The "phoneNumber" input reference. This value will be treated and passe to "phoneNumber" field.
                issueButton: $('#issueButton')            // The button that initiates the issuing operation on server-side.
            });
        });
    </script>

{% endblock %}