extends ../layout

block styles
   link(rel='stylesheet', href='https://cdn.lacunasoftware.com/pki-suite-samples/styles.ef46db3751d8e999.css')

block content
   app-root

block scripts

   script.
      SampleRoutes = {
         authCert: {
            express: '/check-pki-express?rc=authentication',
            restpki: '/check-restpki-token?rc=authentication'
         },
         cosignCms: { 
            express: '/check-pki-express?rc=server-files&fwd=cades-signature&op=cosignCms',
            restpki: '/check-restpki-token?rc=server-files&fwd=cades-signature&op=cosignCms'
         },
         cosignPdf: {
            express: '/check-pki-express?rc=server-files&fwd=pades-signature&op=cosignPdf',
            restpki: '/check-restpki-token?rc=server-files&fwd=pades-signature&op=cosignPdf'
         },
         issueCertServer: {
            amplia: '/check-amplia-api-key?rc=issue-cert-server'
         },
         issueCertUser: {
            amplia: '/check-amplia-api-key?rc=issue-cert-user'
         },
         listCert: {
            select2: '/list-cert-select2',
            jquery: '/list-cert-jquery'
         },
         mergeCmsSigs: {
            express: '/check-pki-express?rc=merge-server-files&fwd=merge-cades'
            // restpki: ''
         },
         printerFriendlyCms: {
            express: '/check-pki-express?rc=upload&fwd=printer-version-cades'
            // restpki: ''
         },
         printerFriendlyPdf: {
            express: '/check-pki-express?rc=upload&fwd=printer-version-pades',
            restpki: '/check-restpki-token?rc=upload&fwd=printer-version-pades'
         },
         readCert: {
            select2: '/read-cert-select2',
            jquery: '/read-cert-jquery'
         },
         rsa: {
            webpki: '/rsa-web'
         },
         signCmsServer: {
            express: '/check-pki-express?rc=server-files&fwd=cades-signature&op=signCms',
            restpki: '/check-restpki-token?rc=server-files&fwd=cades-signature&op=signCms'
         },
         signCmsUser: {
            express: '/check-pki-express?rc=upload&fwd=cades-signature',
            restpki: '/check-restpki-token?rc=upload&fwd=cades-signature'
         },
         signCmsServerKey: {
            express: '/check-pki-express?rc=upload&fwd=cades-server-key'
         },
         // signCod: { },
         signMultiCmsServer: {
            express: '/check-pki-express?rc=batch-cades-signature',
            restpki: '/check-restpki-token?rc=batch-cades-signature'
         },
         // signMultiCmsUser: { },
         signMultiPdfServer: {
            express: '/check-pki-express?rc=batch-pades-signature',
            restpki: '/check-restpki-token?rc=batch-pades-signature'
         },
         // signMultiPdfUser: { },
         signNfe: {
            express: '/check-pki-express?rc=xml-nfe-signature',
            restpki: '/check-restpki-token?rc=xml-nfe-signature'
         },
         signPdfServer: {
            express: '/check-pki-express?rc=server-files&fwd=pades-signature&op=signPdf',
            restpki: '/check-restpki-token?rc=server-files&fwd=pades-signature&op=signPdf'
         },
         signPdfUser: {
            express: '/check-pki-express?rc=upload&fwd=pades-signature',
            restpki: '/check-restpki-token?rc=upload&fwd=pades-signature'
         },
         signPdfCloudhubUser: {
            restpki: "/check-restpki-token?rc=upload&fwd=pades-signature-cloudhub&op=signPdf"
         },
         signPdfCloudhubServer: {
            restpki: "/check-restpki-token?rc=server-files&fwd=pades-signature-cloudhub&op=signPdf"
         },
         signPdfServerKey: {
            express: '/check-pki-express?rc=upload&fwd=pades-server-key'
         },
         signPdfCloudOAuth: {
            express: '/check-pki-express?rc=upload&fwd=pades-cloud-oauth'
         },
         signPdfCloudPwd: {
            express: '/check-pki-express?rc=upload&fwd=pades-cloud-pwd'
         },
         signXmlCloudOAuth: {
            express: '/check-pki-express?rc=xml-cloud-oauth'
         },
         signXmlServer: {
            express: '/check-pki-express?rc=xml-signature',
            restpki: '/check-restpki-token?rc=xml-signature'
         },
         signXmlServerKey: {
            express: '/check-pki-express?rc=xml-server-key'
         },
         // signaturePackage: { },
         validateCmsSig: {
            express: '/check-pki-express?rc=upload&fwd=open-cades',
            restpki: '/check-restpki-token?rc=upload&fwd=open-cades'
         },
         validatePdfSig: { 
            express: '/check-pki-express?rc=upload&fwd=open-pades',
            restpki: '/check-restpki-token?rc=upload&fwd=open-pades'
         }
         // validateXmlSig: { }
      };

   script(type='text/javascript', src='https://cdn.lacunasoftware.com/pki-suite-samples/runtime.29926b5c8448d756.js')
   script(type='text/javascript', src='https://cdn.lacunasoftware.com/pki-suite-samples/polyfills.b6a2ec357e891889.js')
   script(type='text/javascript', src='https://cdn.lacunasoftware.com/pki-suite-samples/main.b602690512bc6ab7.js') 