<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
<body>

<div th:fragment="content">
	<h2 class="ls-title">Batch XML Signature with REST PKI</h2>

	<div class="ls-content">

		<form id="batchSignForm" method="POST">
			<div class="form-group">
				<label>Files to sign</label>
				<p>
					You'll be signing the following files:
					<!--
						UL element to hold the batch's documents (we'll render these programmatically,
						see batch-signature-rest-form.js).
					-->
					<ul id="docList"/>
				</p>
			</div>

			<!--
				Render a select (combo box) to list the user's certificates. For now it will be empty,
				we'll populate it  later on (see batch-signature-rest-form.js).
			-->
			<div class="form-group">
				<label for="certificateSelect">Choose a certificate</label>
				<select id="certificateSelect" class="form-control"></select>
			</div>

			<!--
				Action buttons. Notice that the "Sign File" button is NOT a submit button. When the
				user clicks the button, we must first use the Web PKI component to perform the
				client-side computation necessary and only when that computation is finished we'll
				submit the form programmatically (see batch-signature-rest-form.js).
			-->
			<div class="form-group">
				<button id="signButton" type="button" class="btn btn-primary">
					<i class="fas fa-list"></i> Sign Batch
				</button>
				<button id="refreshButton" type="button" class="btn btn-outline-primary">
					<i class="fas fa-retweet"></i> Refresh Certificates
				</button>
			</div>
			
		</form>
		
		<form id="dataForm" th:action="@{/batch-xml-diploma-signature-rest/diploma}" method="post">
			<input type="hidden" name="signedXmls" id="signedXmls"/>
			<button type="submit" id="nextStepButton" disabled="true" class="btn btn-outline-primary">
				<i class="fas fa-retweet"></i> Proceed to next signature
			</button>
		</form>

	</div>
</div>

<!--
	The file below contains the JS lib for accessing the Web PKI component. For more
	information, see: https://webpki.lacunasoftware.com/#/Documentation
-->
<script th:fragment="scripts"
        type="text/javascript"
        src="https://cdn.lacunasoftware.com/libs/web-pki/lacuna-web-pki-2.13.0.min.js"
        integrity="sha256-nVy9sLakeQ03Xl+jOjBdjdfnZ9UVwwqNgAYszhxi4VQ="
        crossorigin="anonymous"></script>

<!--
	The file below contains the necessary calls to the Web PKI component. Once the necessary
	 computations have been done, the javascript code will submit our form.
 -->
<script th:fragment="scripts"
        type="text/javascript"
        th:src="@{/js/batch-xml-diploma-signature-rest-form.js}"></script>

<script th:fragment="scripts" type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	$(document).ready(function () {
		// Once the page is ready, we call the init() function on the javascript code
		// (see batch-signature-rest-form.js).
		batchSignatureRestForm.init({
			certificateSelect: $('#certificateSelect'),  // The <select> element (combo box) to list the certificates.
			docList: $('#docList'),                      // The <ul> element that holds the batch's documents.
			refreshButton: $('#refreshButton'),          // The "refresh" button.
			signButton: $('#signButton'),                // The button that initiates the operation.
			documentsIds: [[${inputXmls}]],            // The IDs of documents.
			ctrlEndpoint: '/api/batch-xml-diploma-signature-rest',
			apiRoute: '/start-dados-registro/',
			nextStepButton: $("#nextStepButton"),
			signedXmls: $("#signedXmls"),
		});
	});
	/*]]>*/
</script>

</body>
</html>