{% extends "layout.html" %}

{% block content %}

	<h2 class="ls-title">Open existing PAdES Signature</h2>
	<h5 class="ls-subtitle">The given file contains {{ signature.signers|length }} signatures:</h5>

	<div class="ls-content">
		<div id="accordion">
			{% for signer in signature.signers %}
				{% set collapse_id = "signer_%s_collapse" % loop.index %}
				{% set heading_id = "signer_%s_heading" % loop.index %}

				<div class="card">
					<div class="card-header open-header" id="{{ heading_id }}">
						<a class="collapsed" role="button" data-toggle="collapse" href="#{{ collapse_id }}" aria-expanded="true" aria-controls="{{ collapse_id }}">{{ signer.certificate.subject_name.common_name }}</a>
						{% if signer.validation_results %}
							<span> </span>
							{% if signer.validation_results.is_valid %}
								<span class="badge badge-success">valid</span>
							{% else %}
								<span class="badge badge-danger">invalid</span>
							{% endif %}
						{% endif %}
					</div>
					<div id="{{ collapse_id }}" class="collapse" role="tabpanel" aria-labelledby="{{ heading_id }}" data-parent="#accordion">
						<div class="card-body">
							{% if signer.signing_time %}
								<p>Signing time: {{ signer.signing_time.strftime('%d/%m/%Y %H:%M') }}</p>
							{% endif %}
							<p>Message digest: {{ signer.message_digest.algorithm.name or '' }} {{ signer.message_digest.hex_value or '' }}</p>
							{% if signer.signature_policy %}
								<p>Signature policy: {{ signer.signature_policy.oid }}</p>
							{% endif %}
							<p>
								Signer information:
								<ul>
									<li>Subject: {{ signer.certificate.subject_name.common_name or '' }}</li>
									<li>Email: {{ signer.certificate.email_address or '' }}</li>
									<li>
										ICP-Brasil fields
										<ul>
											<li>Tipo de certificado: {{ signer.certificate.pki_brazil.certificate_type or '' }}</li>
											<li>CPF: {{ signer.certificate.pki_brazil.cpf_formatted or '' }}</li>
											<li>Responsavel: {{ signer.certificate.pki_brazil.responsavel or '' }}</li>
											<li>Empresa: {{ signer.certificate.pki_brazil.company_name or '' }}</li>
											<li>CNPJ: {{ signer.certificate.pki_brazil.cnpj_formatted or '' }}</li>
											<li>RG: {{ signer.certificate.pki_brazil.rg_numero or '' }} {{ signer.certificate.pki_brazil.rg_emissor or '' }} {{ signer.certificate.pki_brazil.rg_emissor_uf or '' }}</li>
											<li>OAB: {{ signer.certificate.pki_brazil.oab_numero or '' }} {{ signer.certificate.pki_brazil.oab_uf or '' }}</li>
										</ul>
									</li>
								</ul>
							</p>
							{% if signer.validation_results %}
								<label for="validations">Validation results</label>
								<textarea id="validations" style="width: 100%;" rows="20">{{ signer.validation_results }}</textarea>
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}