@using PkiSuiteAspNetMvcSample.Models.Pki
@model SignatureInfoModel

<h2>COD XML signature (COD element) with PKI SDK</h2>

<p>COD element signed successfully!</p>

<p>
	<a href="/XmlCodSignaturePki/SignCodeh/@Model.Filename" class="btn btn-primary">Sign CODEH element</a>
	<a href="/Download/File/@Model.Filename" class="btn btn-secondary">Download XML with signed COD element</a>
	<a href="/OpenXmlSignaturePki?userfile=@Model.Filename" class="btn btn-secondary">Validate signature</a>
</p>
