@using PkiSuiteAspNetMvcSample.Models.Pki
@model SignatureInfoModel

<h2>COD XML signature (CODEH element) with PKI SDK</h2>

<p>CODEH element signed successfully!</p>

<p>
	<a href="/Download/File/@Model.Filename" class="btn btn-secondary">Download XML with signed COD and CODEH elements</a>
	<a href="/OpenXmlSignaturePki?userfile=@Model.Filename" class="btn btn-secondary">Validate signatures</a>
</p>
