@using PkiSuiteAspNetMvcSample.Models.Pki
@model SignatureInfoModel

<h2 class="ls-title">COD XML signature (COD element) with PKI SDK</h2>

<p>COD element signed successfully!</p>

<p>
	<a href="/Download/File/@Model.File" class="btn btn-info">Download XML with signed COD element</a>
	<a href="/OpenXmlSignaturePki?userfile=@Model.File" class="btn btn-outline-info">Validate signature</a><br />
	<br />
	<a href="/XmlCodSignaturePki/SignCodeh/@Model.File" class="btn btn-primary">Sign CODEH element</a>
</p>

