@using PkiSuiteAspNetMvcSample.Models.Pki
@model SignatureInfoModel

<h2 class="ls-title">COD XML signature (CODEH element) with PKI SDK</h2>

<p>CODEH element signed successfully!</p>

<p>
	<a href="/Download/File/@Model.File" class="btn btn-info">Download XML with signed COD and CODEH elements</a>
	<a href="/OpenXmlSignaturePki?userfile=@Model.File" class="btn btn-outline-info">Validate signatures</a>
</p>
