{% extends "layout.html" %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.lacunasoftware.com/pki-suite-samples/styles.ef46db3751d8e999.css"/>
{% endblock %}

{% block content %}
<app-root></app-root>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	SampleRoutes = {
		authCert: {
			express: '/check-express/authentication',
			restpki: '/check-rest-token/authentication'
		},

		cosignCms: {
			express: '/check-express/server-files/cades-signature/cosignCms',
			restpki: '/check-rest-token/server-files/cades-signature/cosignCms'
		},
		cosignPdf: {
			express: '/check-express/server-files/pades-signature/cosignPdf',
			restpki: '/check-rest-token/server-files/pades-signature/cosignPdf'
		},
		issueCertServer: {
		    amplia: '/check-amplia-api-key/issue-cert-server'
        },
		issueCertUser: {
		    amplia: '/check-amplia-api-key/issue-cert-user'
        },
		listCert: {
			jquery: 'list-cert-jquery',
			select2: 'list-cert-select2'
		},
		mergeCmsSigs: {
			express: '/check-express/merge-server-files/merge-cades',
		},
		// printerFriendlyCms: { },
		printerFriendlyPdf: {
			express: '/check-express/upload/printer-version-pades',
			restpki: '/check-rest-token/upload/printer-version-pades'
		 },
		readCert: {
			jquery: 'read-cert-jquery',
			select2: 'read-cert-select2'
		},
		rsa: {
			webpki: '/rsa-web'
		},
		signCmsServer: {
			express: '/check-express/server-files/cades-signature/signCms',
			restpki: '/check-rest-token/server-files/cades-signature/signCms'
		},
		signCmsUser: {
			express: '/check-express/upload/cades-signature',
			restpki: '/check-rest-token/upload/cades-signature'
		},
		signCmsServerKey: {
			express: '/check-express/upload/cades-server-key'
		},
		// signCod: { },
		signMultiCmsServer: {
			express: '/check-express/batch-cades',
			restpki: '/check-rest-token/batch-cades'
		},
		// signMultiCmsUser: { },
		signMultiPdfServer: {
			express: '/check-express/batch-pades',
			restpki: '/check-rest-token/batch-pades'
		},
		// signMultiPdfUser: { },
		signNfe: {
			restpki: '/check-rest-token/xml-nfe-signature'
		},
		signPdfServer: {
			express: '/check-express/server-files/pades-signature/signPdf',
			restpki: '/check-rest-token/server-files/pades-signature/signPdf'
		},
		signPdfUser: {
			express: '/check-express/upload/pades-signature',
			restpki: '/check-rest-token/upload/pades-signature'
		},
		signPdfServerKey: {
			express: '/check-express/upload/pades-server-key'
		},
		signPdfCloudPwd: {
			express: '/check-express/upload/pades-cloud-pwd'
		},
		signPdfCloudOAuth: {
			express: '/check-express/upload/pades-cloud-oauth'
		},
		signXmlServer: {
			restpki: '/check-rest-token/xml-signature'
		},
		// signXmlServerKey: { },
		// signaturePackage: { },
		validateCmsSig: {
			express: '/check-express/upload/open-cades'
			//restpki: ''
		},
		validatePdfSig: {
			express: '/check-express/upload/open-pades',
			restpki: '/check-rest-token/upload/open-pades'
		}
		// validateXmlSig: { }
	};
</script>
<script type="text/javascript" src="https://cdn.lacunasoftware.com/pki-suite-samples/runtime.29926b5c8448d756.js"></script>
<script type="text/javascript" src="https://cdn.lacunasoftware.com/pki-suite-samples/polyfills.b6a2ec357e891889.js"></script>
<script type="text/javascript" src="https://cdn.lacunasoftware.com/pki-suite-samples/main.3c1234946d8e0bef.js"></script>
{% endblock %}