{% extends "layout.html" %}

{% block content %}

	<h2 class="ls-title">PAdES Signature using cloud certificate with PKI Express (OAuth Flow)</h2>

	{% if services|length > 0 %}
		<h5 class="ls-subtitle">Trusted services were found with this CPF</h5>
		<div class="ls-content">
			<form id="oauthFlowForm" action="/pades-cloud-oauth-express/authorize/" method="POST">
				<div class="form-group">
					<div class="px-0">
						<label for="serviceField">Choose your trust provider:</label>
						<select id="serviceField" name="service" class="form-control col col-sm-2" >
							{% for s in services %} 
								<option value="{{ s.auth_url }}">{{s.service_info.service.name}} ({{s.service_info.provider}})</option>
							{% endfor %} 
						</select>
					</div>
				</div>		
				<button type="button" class="btn btn-primary" onclick="redirectUser()">
					<i class="fas fa-file-signature"></i> Sign
				</button>
			</form>
		</div>
	{% else %}
		<h5 class="ls-subtitle">No trusted services were found with this CPF</h5>
		<div class="ls-content">
			<p>Possible reasons include:
				<ul>
					<li>The given CPF does not exist on trusted services</li>
					<li>The PKI Express was not correctly configured</li>
				</ul>
			</p>
			<p>To configure the PKI Express you need to configure all providers by running the 
				following commands on the terminal: <br/>
				<code>pkie config --set trustServices:{provider}:clientId={value}</code><br/>
				<code>pkie config --set trustServices:{provider}:clientSecret={value}</code>
			</p>
			<p>For customized providers you neet to also configure the endpoint:<br/>
				<code>pkie config --set trustServices:{provider}:endpoint={value}</code>
			</p>
			<p>The standard providers are:
				<ul>
					<li>BirdID (Soluti)</li>
					<li>ViDaaS (VALID)</li>
					<li>NeoID (SERPRO)</li>
					<li>RemoteID (Certisign)</li>
					<li>SafeID (Safeweb)</li>
				</ul>
			</p>
			<button onclick="window.history.back()" class="btn btn-primary">Try Again</button>
		</div>
	{% endif %}

{% endblock %}

{% block scripts %}

	<script fragment="scripts" type="text/javascript" inline="javascript">
		function redirectUser() {
			// Get redirect URL of the chosen provide.
			var redirectUrl = $('#serviceField').val();
			// Redirect user.
			window.location = redirectUrl;
		}
	</script>

{% endblock %}