@using PkiSuiteAspNetMvcSample.Models.Pki
@model SignatureInfoModel

<h2>Sign a Brazilian NFe stored on the server with PKI SDK</h2>
<p>File signed successfully!</p>

<h3>Actions:</h3>
<ul>
	<li><a href="/Download/File/@Model.Filename">Download the signed file</a></li>
	<li><a href="/OpenXmlSignaturePki?userfile=@Model.Filename">Open/validate the signed file</a></li>
</ul>