<?xml version="1.0" encoding="utf-8"?>
<LacunaPkiLicense xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Version>3</Version>
  <Id>64b0166d-5549-4e91-9f86-e2e496d16e6b</Id>
  <Licensee>PKI Suite Samples</Licensee>
  <IssueDate>2026-07-01 17:49:07Z</IssueDate>
  <Expiration>2026-08-31 15:00:00Z</Expiration>
  <Signature>Ygl+z0/Fzfsl+/FcReOm/CvD3izjFFbHwo9KUWJVZihLNhKgxiTYDxbi0K86fVG2yv+bW2Ly4ZvA4vgxfyo2YwybBBqpIorUW4YBjnnqG6uZJGvSBxfxzzIP2Lh7z4nTWZzopSydoNk/tvOFHAmzEOCfcSZu9wTVoxo6m6lxa8SDHm35Kry/wxYku8BB/3U167FWyusQL/y2JoSqFoW4/m99qYYYsUCnng7FH41D6YJ4pSYCiq/nGclp/lSll6oSrxHMLJ2+IFN/NY3DNJvAnDkqyvHS7Xj946FGMifCiemvdaF03CSnAgFTPSCDPQB2zofrmdpP6gwopQbO1pYVCA==</Signature>
  <Features>127</Features>
</LacunaPkiLicense>