<?xml version="1.0" encoding="utf-8"?>
<LacunaPkiLicense xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Version>3</Version>
  <Id>8c65de30-b708-4003-9cd2-76f5036de185</Id>
  <Licensee>PKI Suite Samples</Licensee>
  <IssueDate>2025-05-02 14:38:19Z</IssueDate>
  <Expiration>2025-06-30 15:00:00Z</Expiration>
  <Signature>zjDfcQg5/enjipip8T1nMgaajQTXGVD6gjK+yDKEOLqSywkgHHi626wAibSAOqvXKyYNIoFZrzdjtAdLVT4WiI/OxLmcajN12oFNS3buV/rQTYRguICei01AZtvMdoB7PTHaXR8uNhHmLAMUroGIMFP8c6Nrwd2sQM9fTuBkWJEw0y9WuBU7Wt7xKGe49YM5o+i3n6I378jtX6ntta1ZPc7LX539ut8AcRKzK9xTHKJhouwFW0W77W+R6dytmGOEHh8ShysmSV8GeS+h6/98nOYEjt5ocE0c38g0gIK8Irsm5qDL0skT1X/h4NmejBrkuDadflf3djN7q3UxG2y1AQ==</Signature>
  <Features>127</Features>
</LacunaPkiLicense>