<?xml version="1.0"?>
<LacunaPkiLicense xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Version>3</Version>
  <Id>f9188a5f-3c87-41ed-8cb7-79cebcdcd9c6</Id>
  <Licensee>PKI Suite Samples</Licensee>
  <IssueDate>2021-01-06 21:31:40Z</IssueDate>
  <Expiration>2021-03-01 15:00:00Z</Expiration>
  <Signature>HN8krYds7CZOmBok2lrjUwWckLLlmOeNieWxt+CXpkQJ+ZQoHdUf7/NpgcReB36/illOL4uzoPQJOjFPZq+NGPXUsteLe4Q6nvAgSFNvH+IFGORn/7yKGeltmAl+5OxDUBDcp7JiMaCtCmVXGH5uWbxtgTtqVzsktttRqWUvIdGcgBq7LyyeeeEI+qg+5vYTaJdHnduq2p0fJ1mblZNwDrwiJ7810L0h/RdcudRSvfmsc5/AM+hquNNewiZphViHv8zUn5yeFKmybIqtBzNOt70KH3QBkgaAixOI8iK3xxPkqJ1FJwnIMgri7e/M6MGycNZ4PVR3cKw08RKGEUOcDQ==</Signature>
  <Features>127</Features>
</LacunaPkiLicense>