extends ../layout

block content

   h2 Issue a certificate storing the private key on the server

   p The certificate #{certId} was successfully issued!

   h3 Actions:

   label
      | Get certificate file:
      br
      a(href=`/download/cert?fileId=${certId}`, target='_blank', class='btn btn-primary') Download

   br
   br
   label
      | Use the certificate to sign a PDF using:
      br
      a(href=`/upload?rc=pades-server-key-express&certId=${certId}`, class='btn btn-primary') PKI Express