<?xml version="1.0" encoding="utf-8"?>
<LacunaPkiLicense xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Version>3</Version>
  <Id>123fa062-1b07-419a-ba59-ee0b6811bd85</Id>
  <Licensee>PKI Suite Samples</Licensee>
  <IssueDate>2025-02-04 12:53:14Z</IssueDate>
  <Expiration>2025-03-31 15:00:00Z</Expiration>
  <Signature>57WwtBGacSVHWxTTC6QBXH0bEu3weieJ8t2KJdOOiUP/AJl7LJ9jqNeWSI9hM3F2SEfcNK100ncEl0j2Ye5LnfLQ4V+wIcQkN8fj67UmF5rm4K1XcSbseCI4c6Mrlk4ckLejbmT2kzClXGnLItKFron29IW4nmFohA2/q5A1z+pf6hbz8cSialg/gh4kx/rM3TVW3q9X8zXW62u6ZcLF1x72qNRbiPz+chPXmQPccDBD8ej6a0Dkbk8TnKOYiaPtJg4wMXXec6rZn3MDjvbVbW9WnXlknecXffmsK+8eIjS4sQbPc212ndBa/JR8RGQ+geVlQdDlP/YsXPfMKGqTMg==</Signature>
  <Features>127</Features>
</LacunaPkiLicense>