<?xml version="1.0"?>
<LacunaPkiLicense xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Version>3</Version>
  <Id>7ea8a20b-3ff2-438a-8547-a3a7030be029</Id>
  <Licensee>PKI Suite Samples</Licensee>
  <IssueDate>2020-02-10 20:03:46Z</IssueDate>
  <Expiration>2020-04-01 03:00:00Z</Expiration>
  <Signature>M1a57FKxxGOHbeOLruqTp6OJH0ALiZAUKoL1Ix5WEb1g34dfF+h9u3awqY4O6HmpWgu24dibEW489BMtrDzNX1zeOa9dWUrRjO/zkt4SvZvGagBal1p8eArbsEKBrDoO33GZPa9yDV4I147u+zHAhACPYhgMV5C3tkHkZS6yuQhB3hIxKC4zCTQnX1wAwF+vuJCuBGut9lUtmGji691Ke30lzp4AObFkALGxRp+BxnWuT/vmqYL5Lw5DCun0lWtxQCiYxUoJeuHd0v71x6+r3Z+pJJucjGvECMF29mxq6ZsMvRVApOqLXhMJ7OUQ2baaOmXt8lMJ2HS51iYzRhd8oA==</Signature>
  <Features>127</Features>
</LacunaPkiLicense>