<?xml version="1.0" encoding="utf-8"?>
<LacunaPkiLicense xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Version>3</Version>
  <Id>49aacca3-b4c6-4f37-ac03-7082ecc46093</Id>
  <Licensee>PKI Suite Samples</Licensee>
  <IssueDate>2024-04-01 16:53:37Z</IssueDate>
  <Expiration>2024-05-31 15:00:00Z</Expiration>
  <Signature>YOSdE2J1k3f5l6VVeU30/hRxR23jnekKz3w2dxzWvWVOVoWMmXLL8+jMHa42QJw09MNHCODNSn3AOZVcXROI37oqHwpCC/tlI0aSNw5cEcASkb4SeafHjo49EMot//fBO9Ku8y6cj9qg39vo7oHqrkEMmZbDO1qo2eCMkuZrkVhjhCCvQobJae9F3cSKW3QjiCwQVsvT1XMtVbWGvKrAalbiz/fY3NRrW/m1ViRO4dOghelshHxMJOV3JE8ETgGOg6+fM/HqzMMC8172aKCl8wJHLC8A1rXk7Q7NVHBv8/G4TXbtMCNiDMsCfV79czkdj1pVtz8Ob7+WCAqENXA04w==</Signature>
  <Features>127</Features>
</LacunaPkiLicense>