<?xml version="1.0"?>
<LacunaPkiLicense xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Version>3</Version>
  <Id>0197684c-721b-4d57-9f3e-d19f5bfaee7c</Id>
  <Licensee>PKI Suite Samples</Licensee>
  <IssueDate>2023-02-01 11:31:35Z</IssueDate>
  <Expiration>2023-03-31 15:00:00Z</Expiration>
  <Signature>bH/DR8RsPrrQhm3wuCGOsqn/IHMJSWbZES+vxpTmWHni705JTLbcbmpUkBdU90e8lXiHUOO4v9tDgHR6QDSM4PiQyWk8/qvewhUz+/Lctfq2kTs9LhTaChtvFDT+SnK8JpBrQx3bT7u3/kaqqpAP2nk25SQpmllM7aPtwv3G71jamdxHA/SkRwKaLHi/6tXEIXeGS8/DpTw2P2bjf4ALFLC0N4qI+xOyhUUSHfHFXodAdz0Pa4RUdbgJiZ2sr39AAluxMuu3bot7U4EAZ4b5QJ08V4d3NU3g25q7ZmyPYaCXFXI6e8ODopVja/0cBPl9dmnirUiFaeQUGMqzMDRmLA==</Signature>
  <Features>127</Features>
</LacunaPkiLicense>