<?xml version="1.0" encoding="utf-8"?>
<LacunaPkiLicense xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Version>3</Version>
  <Id>25905135-9543-4501-b957-1a6357efd635</Id>
  <Licensee>PKI Suite Samples</Licensee>
  <IssueDate>2025-06-05 12:06:41Z</IssueDate>
  <Expiration>2025-07-31 15:00:00Z</Expiration>
  <Signature>bcQAxBiQPqtEdoah/+lhGSbEKNXO+O8GyThm7rpIbvmaIW5GsJdg/GEZm9+ej10liYDwcMPArpACgCq3NoVBOtv7MJx1buOY2T7RQ2QD71/NLwZ/b4773mCHBJZpoyBtBdoDiLXmY/SkYSVCbs3RyEj+8T+RZUFykuFdEnBYCmaMZRJdudXy1FsoHIkmQVH0Ng6SXGDd7jOoZPXMM/QOvpzE5WSXYcQlegUAx+V349Yc4NclTNgSr411sdVY6Y56qKgqw4dDzbAuz9vOv8WnUlzHln4daZlsRj0YQvwMOKLu22/PlDvTtIvg9lKsDQi8JYcdmdW6EjwPeAGRc4Cj1Q==</Signature>
  <Features>127</Features>
</LacunaPkiLicense>