<?xml version="1.0"?>
<LacunaPkiLicense xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Version>3</Version>
  <Id>05d21baa-2add-45cb-bd5c-a7fe628562c8</Id>
  <Licensee>Pki Suite Sample</Licensee>
  <IssueDate>2021-11-03 18:24:56Z</IssueDate>
  <Expiration>2021-12-31 15:00:00Z</Expiration>
  <Signature>u8KnEX8Pw5SgdmSgLG++SsuTQkewZZFkgaK45oxMrl/fDHG/BivWitErRsLCtFqdptpla51+QmqoXXwTG7wFwLjXxZJqGIKoxT5eltfIj4njBCX2ox2Gca5o9iYr+E5FA00sum3F2yHO6OD3NEGk1Soz1fiapf17NhfmDrGgkCE6xDGPSG9Pi40l2+tv0u43ZkkHfRqj5qNdiHMfm4Qsv1gtjh+8nzkhgLONKUteq+EVMNRETBkYxi8Xc3DIYcxzyqUwyZVuCg5fxU8uI87eOXJRbCP2Knni1ECIZqGE6Sz1paOqxOCyTiEFXh7IHWYCMugYR8Ad/LMKCqKgd7k3TQ==</Signature>
  <Features>127</Features>
</LacunaPkiLicense>