{% extends "layout.html" %}

{% block content %}

<h2 class="ls-title">Signature Session with REST PKI Core (Simple flow)</h2>
{% if session.documents|length > 1 %}
	<h5 class="ls-subtitle">Files signed successfully! <i class="fas fa-check-circle text-success"></i></h5>
{% else %}
	<h5 class="ls-subtitle">File signed successfully! <i class="fas fa-check-circle text-success"></i></h5>
{% endif %}

<h3>Actions:</h3>
<ul>
{% for doc in session.documents %}
	<li>
		{{ doc.original_file.name }} -
		<a href="{{ doc.original_file.url }}">Download the original file</a> -
		<a href="{{ doc.signed_file.url }}">Download the signed file</a>
	</li>
{% endfor %}
</ul>

{% endblock %} 