<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
<body>

<div th:fragment="content" th:with="fileId=${#httpServletRequest.getParameter('fileId')},
                                    cosignFileId=${#httpServletRequest.getParameter('cosign')}">
	<h2 class="ls-title">CAdES Signature with REST PKI</h2>

	<div class="ls-content">

		<form id="signForm" method="POST">
			<!-- Render the token in a hidden input field. -->
			<input type="hidden" id="tokenField" name="token" th:value="${token}"/>

			<div class="form-group">
				<label>File to sign</label>
				<p th:if="${fileId} != null">You are signing <a th:href="@{'/download/' + ${fileId}}">this document</a>.</p>
				<p th:if="${cosignFileId} != null">You are co-signing <a th:href="@{'/download/' + ${cosignFileId}}">this CMS</a>.</p>
			</div>

			<!--
				Render a select (combo box) to list the user's certificates. For now it will be empty,
				we'll populate it later on (see signature-form.js).
			-->
			<div class="form-group">
				<label for="certificateSelect">Choose a certificate</label>
				<select id="certificateSelect" class="custom-select"></select>
			</div>

			<!--
				Action buttons. Notice that the "Sign File" button is NOT a submit button. When the
				user clicks the button, we must first use the Web PKI component to perform the
				client-side computation necessary and only when that computation is finished we'll
				submit the form programmatically (see signature-form.js).
			-->
			<div class="form-group">
				<button id="signButton" type="button" class="btn btn-primary">
					<i class="fas fa-file-signature"></i> Sign File
				</button>
				<button id="refreshButton" type="button" class="btn btn-outline-primary">
					<i class="fas fa-retweet"></i> Refresh Certificates
				</button>
			</div>
		</form>

	</div>
</div>

<!--
	The file below contains the JS lib for accessing the Web PKI component. For more
	information, see: https://webpki.lacunasoftware.com/#/Documentation
-->
<script th:fragment="scripts"
        type="text/javascript"
        src="https://get.webpkiplugin.com/Scripts/LacunaWebPKI/lacuna-web-pki-2.12.0.min.js"
        integrity="sha256-jDF8LDaAvViVZ7JJAdzDVGgY2BhjOUQ9py+av84PVFA="
        crossorigin="anonymous"></script>

<!--
	The file below contains the necessary calls to the Web PKI component. Once the necessary
	computations have been done, the javascript code will submit our form.
-->
<script th:fragment="scripts" type="text/javascript" th:src="@{/js/signature-form.js}"></script>

<script th:fragment="scripts" type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	$(document).ready(function () {
		// Once the page is ready, we call the init() function on the javascript code
		// (see signature-form.js).
		signatureForm.init({
			form: $('#signForm'),                        // The form that should be submitted the operation is completed.
			certificateSelect: $('#certificateSelect'),  // The <select> element (combo box) to list the certificates.
			refreshButton: $('#refreshButton'),          // The "refresh" button.
			signButton: $('#signButton'),                // The button that initiates the operation.
			token: [[${token}]]                          // The token acquired from REST PKI.
		});
	});
	/*]]>*/
</script>

</body>
</html>