@using PkiSuiteAspNetMvcSample.Models.Sdk
@model SignatureInfoModel

<h2 class="ls-title">PAdES Signature with Server Key using REST PKI Core</h2>
<h5 class="ls-subtitle">File signed successfully!</h5>

<h3>Actions:</h3>
<ul>
    <li><a href="/Download/File/@Model.File">Download the signed file</a></li>
</ul>
