<?xml version="1.0"?>
<LacunaPkiLicense xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Version>3</Version>
  <Id>2bd05270-fbf9-415f-a75b-69aa52922f3b</Id>
  <Licensee>PKI Suite Samples</Licensee>
  <IssueDate>2020-09-02 19:39:41Z</IssueDate>
  <Expiration>2020-11-01 03:00:00Z</Expiration>
  <Signature>jpZtKGtmyP21YvSRZd5M9B6n332VIMRuQTo5Ec+OW8VJ3V94tpiO5PL8mbHTOqA+DgNnBwIxcdJCd1j8q3WZg/WObLo4e5y8gKqtib4Ii/40hiV0W2zBKW8DAIgbCmy3DbuXIUirpLcWx50vPtMx8bPgP2zwayeJZC/oogcfUhICRQUrfN8DOyQDvfgZ0fNsHcL/bQ5c9zZ9kuB/DGCAVPmUDHZN7zr7cuSU6RTUxBXuiP5g6SlHj/GGZsq5/1Gkxj8VktB7ozExmYpYZDAqtnh0RgJVL9M9JZjgVAbSMlZ5YeOWuCvqZJsYgguGqlx670ff+nsurGDIPByz3wltbg==</Signature>
  <Features>127</Features>
</LacunaPkiLicense>