<?xml version="1.0" encoding="utf-8"?>
<LacunaPkiLicense xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Version>3</Version>
  <Id>f2a3fda6-98de-4b37-b32b-35cb97462d28</Id>
  <Licensee>PKI Suite Samples</Licensee>
  <IssueDate>2023-03-02 12:33:52Z</IssueDate>
  <Expiration>2023-04-30 15:00:00Z</Expiration>
  <Signature>m2T4PqM8c8CSl6bbJQ62Q8W+edp5DIeXY9iH/4SZq386SE15Cm9ajsB9f3jupFCF+X2zN2qg+p0aV59Rcdf9IIWys/dCNQ1SgCFmMP4lVDrHM7qUjaIXTYUidupW/xkUJv1j+ho6tj0I1vPNaaD34y547m7dfLBdyqU2bluvCMr3ZFXe1AFNnINCq0s0HYzFm8YbVm9KNXDwZHEF244zLVIYy8I0wzXZxvc/AjWZVzlybEzNP7GLaX0u+YagoP6s6J4SpWzjvk9V0xxF2XvaLD1Pk3G7gnwg1iTovq8FT7HWxa7Q2B44XcFiHocc0hY5c8eUH8zXI52Kf9pOZvESjg==</Signature>
  <Features>127</Features>
</LacunaPkiLicense>