<?xml version="1.0"?>
<LacunaPkiLicense xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Version>3</Version>
  <Id>5cbf16bb-0f9d-46ab-b9cd-f7d9ffec5ba9</Id>
  <Licensee>PKI Suite Samples</Licensee>
  <IssueDate>2020-11-05 18:17:50Z</IssueDate>
  <Expiration>2021-01-01 03:00:00Z</Expiration>
  <Signature>CJ04xyU+b4R3yrhbHZKOqp8tQPROUluJQpzJn5mpu1cyv5YVBtMZTOqqOcaNKXs0PXC00hwlt6BmbWYE6L7Og0h0lAySBkwbaJjTU+0fA04obOcGioAWUVmgr93+koS/dLRizMgZIl4vHC5PfDJhKGI9DTwaam2mJzFPAwmX1W9esV7X5PIvdHbruCfyq03OtV1eJI8kV+3HdQcKlcTs/rGjdPuks07mSPocnwnSWKyL4Ocr6Kz46HGwmh1/gO1qXiyrzXM528CshVGAxG5g3jm6bJ3IA+x83n/viUG19LYFYOHBGtHrI5FRlwdi9jYFSFyYsN/nzacbO8Swt1odig==</Signature>
  <Features>127</Features>
</LacunaPkiLicense>