extends ../layout

block content

   h2 Issue a Certificate using A

   p The certificate #{certId} was successfully issued!

   h3 Actions:

   label
      | Get certificate file:
      br
      a(href=`/download/pem?fileId=${certId}`, target='_blank', class='btn btn-primary') Download the public certificate content
      br
      br
      a(href=`/download/pem?fileId=${pKcs8Id}`, target='_blank', class='btn btn-primary') Download the Pkcs8 certificate file

   br
   br
   //- TODO: Add certificate signature example
   //- label
   //-    | Use the certificate to sign a PDF using:
   //-    br
   //-    a(href=`/upload?rc=pades-server-key-express&certId=${certId}`, class='btn btn-primary') PKI Express