@{
	ViewBag.Title = "PKI Suite ASP.NET MVC samples";
}

<h2 class="title">PKI Suite ASP.NET MVC Samples</h2>

<div id="payment-options">
	Which payment method is best for you:
	<div class="row">
		<div class="col-sm-4">
			<div class="card choice">
				<div class="card-body" onclick="chooseOption('single');">
					<h5 class="card-title">Server</h5>
					<p class="card-text">I want to pay once and use how much I want</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card choice">
				<div class="card-body" onclick="chooseOption('transaction');">
					<h5 class="card-title">Cloud</h5>
					<p class="card-text">I want to pay monthly for exactly how much I use</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card choice">
				<div class="card-body" onclick="chooseOption('transaction');">
					<h5 class="card-title">Don't Know</h5>
					<p class="card-text">I am not sure of what I want, I just want to navigate through the samples</p>
				</div>
			</div>
		</div>
	</div>
</div>

<br />
<div>
	<div class="row">
		<div class="col col-sm-6">
			<h5>Certificate and RSA Operations</h5>
			<ul>
				<li><a href="#">List the certificates avaible on the user's machine</a></li>
				<li><a href="#">Read one of the user's certificates</a></li>
				<li><a href="#">Perform an RSA signature using one of the user's certificates</a></li>
			</ul>
		</div>
		<div class="col col-sm-6">
			<h5>Authentication and Certificate Lifecycle </h5>
			<ul>
				<li><a href="#">Authentication with digital certificate</a></li>
				<li><a href="#">Issue a certificate storing the private key on the user's machine</a></li>
				<li><a href="#">Issue a certificate storing the private key on the server</a></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col col-sm-6">
			<h5>PDF Signature</h5>
			<ul>
				<li><a href="#">Sign a PDF stored on the server</a></li>
				<li><a href="#">Sign a PDF stored on the user's machine</a></li>
				<li><a href="#">Sign multiple PDFs stored on the server</a></li>
				<li><a href="#">Sign multiple PDFs stored on the user's machine</a></li>
				<li><a href="#">Co-sign a PDF</a></li>
				<li><a href="#">Validate PDF signature</a></li>
				<li><a href="#">Generate a printer-friendly version from a PDF signature</a></li>
			</ul>
		</div>
		<div class="col col-sm-6">
			<h5>CMS/CAdES Signature</h5>
			<ul>
				<li><a href="#">Perform a CMS/CAdES signature on a file stored on the server</a></li>
				<li><a href="#">Perform a CMS/CAdES signature on a file stored on the user's machine</a></li>
				<li><a href="#">Perform multiple CMS/CAdES signatures on files stored on the server</a></li>
				<li><a href="#">Perform multiple CMS/CAdES signatures on files stored on the user's machine</a></li>
				<li><a href="#">Co-sign a CMS/CAdES signature</a></li>
				<li><a href="#">Validate CMS/CAdES signature</a></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col col-sm-6">
			<h5>XML Signature</h5>
			<ul>
				<li><a href="#">Sign a XML stored on the server</a></li>
				<li><a href="#">Sign a XML stored on the user's machine</a></li>
				<li><a href="#">Sign a Brazilian NFe stored on the server</a></li>
				<li><a href="#">Perform two signatures on a COD XML</a></li>
				<li><a href="#"><i class="fas fa-arrow-left"></i>Validate XML signature</a></li>
			</ul>
		</div>
	</div>
</div>

@section Scripts {
	<script>

		var op = null;
		function chooseOption(option) {
			op = option;

			if (option == 'single') {
				$('.not-transaction-pay').removeClass('collapse-vertical-with-animation');
				$('.not-single-pay').addClass('collapse-vertical-with-animation');
				$('.not-single-pay.nav-item')
					.removeClass('collapse-vertical-with-animation')
					.addClass('collapse-horizontal-with-animation');
			} else if (option == 'transaction') {
				$('.not-single-pay').removeClass('collapse-vertical-with-animation');
				$('.not-transaction-pay').addClass('collapse-vertical-with-animation');
				$('.not-transaction-pay.nav-item')
					.removeClass('collapse-vertical-with-animation')
					.addClass('collapse-horizontal-with-animation');
			} else {
				$('.not-transaction-pay').removeClass('collapse-vertical-with-animation');
				$('.not-transaction-pay').removeClass('collapse-horizontal-with-animation');
				$('.not-single-pay').removeClass('collapse-vertical-with-animation');
				$('.not-single-pay').removeClass('collapse-horizontal-with-animation');
			}
		}
	</script>
}
