block content

    form(id='selectFlowForm' action=`/pades-cloud-oauth-express` method='POST')
            input(type='hidden', name='codeField', id='codeInput')
            input(type='hidden', name='stateField', id='stateInput')
            input(type='hidden', name='fileIdField', id='fileIdInput', value=fileId)
            input(type='hidden', name='sessionIdField', id='sessionId', value=sessionId)
