<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  th:include="layout :: page">
<body>

<div th:fragment="content">
	<h2 class="ls-title">PAdES Signature with PKI Express</h2>
	<h5 class="ls-subtitle">File signed successfully! <i class="fas fa-check-circle text-success"></i></h5>

	<div class="ls-content">

		<h3>Actions:</h3>
		<ul>
			<li><a th:href="@{'/download/' + ${signedPdf}}">Download the signed file</a></li>
			<li><a th:href="@{/pades-signature-express(fileId=${signedPdf})}">Co-sign with another certificate</a></li>
		</ul>

	</div>
</div>

</body>
</html>
