<?xml version="1.0"?>
<LacunaPkiLicense xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Version>3</Version>
  <Id>9a3bc5fc-f880-4c1a-b65c-f158f6746fe0</Id>
  <Licensee>PKI Suite Samples</Licensee>
  <IssueDate>2021-08-31 12:30:00Z</IssueDate>
  <Expiration>2021-10-31 15:00:00Z</Expiration>
  <Signature>eX/4uLNYpszXIRfHvgsUhYaEbTV1sYAma2ddW60AD1UaizdgWBarGqIusqNZ6riJ5U2N/z/Hq65Ei6RcZLGc1fVyTdWjw1lNnv4Iy3OL5NLTEshAYpAen9cQlpr5Y/UkNyCnhleEaL+S0e4OrQfKp0mjeQ4M6b6MiJsd6A7zU4ZdEBWwXD0jAAVmY8XNHiqU5WCy29znf5eaB0en+1335gxPgiNZJXnzJHELvHTHyzjbF9uumJTh39FA8Hfq/SwsEeQHhCQpfe/ObLuw8rm420BfRQXDQfWCt9QRlPV+MZhEpA9Klnn9sP4QR6/uKOxzRkDYJhtMv8HpmxDMb9U99Q==</Signature>
  <Features>127</Features>
</LacunaPkiLicense>