<?xml version="1.0"?>
<LacunaPkiLicense xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Version>3</Version>
  <Id>87c55b5b-aa56-4b0f-b84b-2e9859d752f1</Id>
  <Licensee>Lacuna Lab</Licensee>
  <IssueDate>2017-12-01 17:19:37Z</IssueDate>
  <Expiration>2018-12-02 01:59:59Z</Expiration>
  <Signature>g7ItrnxByEhBVTKomzNpqs7yzDwSc8T00cdtxSO3qvvE5WJCGjSRrMicTy1CN5JFD37sbR0LBDlTlh4xcczNHaSsmVYsrDaalxg7Rn3jrW16a639XKvoct40/Ah93cNAwPHtN1mYjRCO4dcjuITBHDv1O03jQBzZc4fQ03UvSqGqQoJUNi4PEooi+N3FJoFnukAoRNmfzSdD7aDAB/izkE+DuR454iS9b9mEuerXSQUoZXG+TRi2NqtWDrfsjE+c0pViR2Y36RlTAEDvl8kCg5+dnFIfIOD/4UuOo38e+EGA/ZD5KRJ6PnVovf8XHbtl6owcPay9xhF5qXxZf8VTew==</Signature>
  <Features>127</Features>
</LacunaPkiLicense>