<?xml version="1.0"?>
<LacunaPkiLicense xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Version>3</Version>
  <Id>4e8713b8-6164-46d4-9c9d-8f7dea07f823</Id>
  <Licensee>PKI Suite Samples</Licensee>
  <IssueDate>2019-11-04 18:21:54Z</IssueDate>
  <Expiration>2020-01-01 03:00:00Z</Expiration>
  <Signature>U9nTkNblShfL/ToHNSMo6EwRtlJxoMfMOu+hPBAJxXszhHYCxkdREapbF1q7OpvA8WdIrMc9EqIvIwMuBygS7BcJB5IsFPWXAoCG8GGGXen9YwOfPegYqhMQ3mXbL6emeklHgHS/1l46PePn2wwf6fTcLMf+ntPpv4bNLC+ulUuozx0/qrdGZHlyAd06jPAVzp0QpiZgVLdL2PRg825F+Ua8IfaplxtCaGDxra8RJ5R/4OLjIEVzD0HCmuqPVDZIVkvOufyE/yKG7XLqX1DR48OBE2TAIgBYi8/DwZYWQ37rDWjjLdoBKypYNyd3EZ4rh/B3MjjL+eqyGZUd1UL+4A==</Signature>
  <Features>127</Features>
</LacunaPkiLicense>