<?xml version="1.0" encoding="utf-8"?>
<!--
	For more information on how to configure your ASP.NET application, please visit
	https://go.microsoft.com/fwlink/?LinkId=301880
-->
<configuration>
	<appSettings>

		<!-- ================================================================
		               >>>> PASTE YOUR API ACCESS TOKEN BELOW <<<<
		     ================================================================ -->
		<add key="RestPkiAccessToken" value="g6L7h08xSgHrEaPT6xeJnE-Ftkby1Kcch4Z8FNUrgZVua66wJ2x6_8ropuf9Mir2XYaa5860st5x2pv9BdY4T2BNQtt0NGjvlua9jvdKc6m8wZQTpiV6cGr6fMu4m_L4rdCyccZnA5Js8VpU9FUEQMbXLOmpyeDMHK46g3TC17jQrNOen1lJ6LKpiYjsO9HVfFgBXFfRTlLTHCUUxa787mi_hk9VKgKBsbuohjG5T92aqNDwbkwqLLr8Qnl6oua1bnhPJm-BxuG5evv2HXRVxK3zN_qGw1UClY8gITZE-KxAx1JaSLTvhQxJkhb2f2610M0n6SsCLXdslTKsjYjC35dGHPQag8vgjpT2d45VRnbysCE26vZryH1QPHzaRZzNb_jEtny7yEBCQ5FQ5Q-TbBo1wkx_4axsi3t0o7wGkL_47dNddH07du86kwBbVicoUy66qm8UyWAuksERbM0eLoXW-r13Lm_yabRYwg4Ha9petUsC2QzXm_QfVgyiNIwrEJGmww" />
		<!-- This is a TRIAL token. It will expire at 28/02/2022. --> 
		<!-- If the REST PKI sample doesn't work, please contact our support by email: suporte@lacunasoftware.com -->

		<!-- 
			In order to use this sample on a "on premises" installation of Rest PKI,
			uncomment the settings below and fill their values:
			
			RestPkiEndpoint : address of your Rest PKI installation (with the trailing '/' character)
			
			If you are using the official Rest PKI on https://pki.rest/, please ignore these settings
		-->

		<!--<add key="RestPkiEndpoint" value="https://restpki.yourdomainhere.com/" />-->

		<!-- ================================================================
		                   >>>> PASTE YOUR API Key BELOW <<<<
		     ================================================================ -->
		<add key="RestPkiCoreApiKey" value="pki-suite-samples-01|71e10260ead507408f152e2a0fce2ffad3cd9a31fdf7944c9c4f414e6abd8797" />
		<!-- This is a TRIAL key. It will expire at 28/02/2022 --> 
		<!-- If the REST PKI Core sample doesn't work, please contact our support by email: suporte@lacunasoftware.com -->

		<!-- 
			In order to use this sample on a "on premises" installation of Rest PKI Core,
			uncomment the settings below and fill their values:
			
			RestPkiCoreEndpoint : address of your Rest PKI Core installation (with the trailing '/' character)
			
			If you are using the official Rest PKI Core on https://core.pki.rest/, please ignore these settings
		-->
		<!--<add key="RestPkiCoreEndpoint" value="https://restpkicore.yourdomainhere.com/" />-->

		<!--
			To use a different URL other than localhost you need an WebPkiLicense
			WebPkiLicense : Base64-encoded binary license for the Web PKI component
		-->
		<!--<add key="WebPkiLicense" value="==== YOUR WebPkiLicense ====" />-->

		<!--<add key="TrustServices:BirdId:ClientId" value="==== YOUR CLIENT ID ===="/>-->
		<!--<add key="TrustServices:BirdId:ClientSecret" value="==== YOUR CLIENT SECRET ===="/>-->

		<!--<add key="TrustServices:ViDaaS:ClientId" value="==== YOUR CLIENT ID ===="/>-->
		<!--<add key="TrustServices:ViDaaS:ClientSecret" value="==== YOUR CLIENT SECRET ===="/>-->

		<!--<add key="TrustServices:NeoId:ClientId" value="==== YOUR CLIENT ID ===="/>-->
		<!--<add key="TrustServices:NeoId:ClientSecret" value="==== YOUR CLIENT SECRET ===="/>-->

		<!--<add key="TrustServices:RemoteId:ClientId" value="==== YOUR CLIENT ID ===="/>-->
		<!--<add key="TrustServices:RemoteId:ClientSecret" value="==== YOUR CLIENT SECRET ===="/>-->

		<!--<add key="TrustServices:SafeId:ClientId" value="==== YOUR CLIENT ID ===="/>-->
		<!--<add key="TrustServices:SafeId:ClientSecret" value="==== YOUR CLIENT SECRET ===="/>-->


		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.6.1" />
		<httpRuntime targetFramework="4.6.1" />
		<httpModules>
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
		</httpModules>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Lacuna.RestPki.Api" publicKeyToken="5705bce581cd1847" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.27.0.0" newVersion="1.27.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Lacuna.Pki" publicKeyToken="d63b3e133e6d3c7d" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.8.12.0" newVersion="2.8.12.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Lacuna.RestClient" publicKeyToken="bf845f78aead27bc" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.15.0.0" newVersion="1.15.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.webServer>
		<modules>
			<remove name="TelemetryCorrelationHttpModule" />
			<add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
			<remove name="ApplicationInsightsWebTracking" />
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
		</modules>
		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>
	<system.web>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
</configuration>
