@using PkiSuiteAspNetMvcSample.Models.Pki
@model SignatureStartModel

<h2>XML element signature with PKI SDK</h2>
<p>You are signing the <i>infNFe</i> node of <a href='/Download/SampleNFe'>this sample XML</a>.</p>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "signForm", role = "form" })) {
	@Html.ValidationSummary("", new { @class = "text-danger" })

	@* Hidden fields used to pass data from the action to the "signature form" javascript (see below) and vice-versa *@
	@Html.HiddenFor(m => m.CertThumbBase64, new { id = "certThumb" })
	@Html.HiddenFor(m => m.CertContentBase64, new { id = "certContent" })

	<div class="form-group">
		<label for="certificateSelect">Choose a certificate</label>
		<select id="certificateSelect" class="form-control"></select>
	</div>

	<button id="signButton" type="button" class="btn btn-primary">Sign File</button>
	<button id="refreshButton" type="button" class="btn btn-default">Refresh Certificates</button>
}

@section Scripts {
	<script>
		$(document).ready(function () {
			signatureStartForm.init({
				form: $('#signForm'),
				certificateSelect: $('#certificateSelect'),
				signButton: $('#signButton'),
				refreshButton: $('#refreshButton'),
				certThumbField: $('#certThumb'),
				certContentField: $('#certContent')
			});
		});
	</script>
}
