<h2 class="ls-title">Generate Printer Version of PAdES Signature with REST PKI</h2>
<h5 class="ls-subtitle">You are generating a printer-friendly version of <a href='/download/<%= @file_id %>'>this document</a>.</h5>

<div class="ls-content">
  <a href="/printer-version-pades-rest/download/<%= @file_id %>" class="btn btn-primary">Download printer-friendly version</a>
</div>
