<!--
<h2 class="ls-title">Generate Printer Version of PAdES Signature with REST PKI</h2>

<p>You are generating a printer-friendly version of <a href='/download/<%= @file_id %>'>this document</a>.</p>

<p>
    <a href="/printer-version-pades-rest/download/<%= @file_id %>" class="btn btn-primary">Download printer-friendly version</a>
</p>
-->