<?xml version="1.0" encoding="utf-8"?>
<LacunaPkiLicense xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Version>3</Version>
  <Id>855f0432-1622-4f0d-879d-a35ecc8c4d58</Id>
  <Licensee>PKI Suite Samples</Licensee>
  <IssueDate>2023-05-02 13:48:36Z</IssueDate>
  <Expiration>2023-06-30 15:00:00Z</Expiration>
  <Signature>s18uy7188o3xcFAo6DID1x4CY0YY9uHur3I81DfktYzLDqLzRv6GiIh1KVLJUtDI44PHkwUjudbyqHXYCtWTPN5fKKRcCyn0PBPm6H7uQ1nYa29obvlCPpqtYlPcYiTU7IohOwrZL0bJidaDF5Sum2DE+RsOQMt42qBqQaU+fQIYYO6mVFwzqV7TsqSUh1Z+qd7SUCpSh2Unhq99FHn5tx1R1C3iDZtqcM19eDHipNpQ15jCVN1zmzI6f5GRii0UweT/czNO9SHYurGgILd5UQR+Q3N74U99Cs0co9umWDCbUVz1hlSKEDbP1G/tnqRgpH2HmGCGB/dejoKhQNx80w==</Signature>
  <Features>127</Features>
</LacunaPkiLicense>