<?xml version="1.0" encoding="utf-8"?>
<LacunaPkiLicense xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Version>3</Version>
  <Id>3546e011-dbaf-4c48-96d4-9041789ea609</Id>
  <Licensee>Pki Suite Samples</Licensee>
  <IssueDate>2025-12-08 13:29:20Z</IssueDate>
  <Expiration>2026-01-31 15:00:00Z</Expiration>
  <Signature>fpZ74aQ+53NrN+bIFoT1VBi4EaR7E+SK1Y/L+5lfMEy0bBfo3M6qcDP3YyOKIthX94DiYvhghhKUQjfEsLm0cCPnXaRolQSHb+IdWkZBnuG+QNhwjtmeefox6DH8Z2vxNs/augPuquIXl8NjLtZB+eJo2jGJy3YOY8Ypa/eTo75WWjN/teSLkm6DBjWP3aR55c8hLTSF6Vl1z7bQBAhUU6fvwHLKlY1Mj/OJaIgm1Ph7QtS8rS2/h4hFau3EbX6NVVRmXywV2S7O4U1okue7Xa1WdK9fXsn6yURrrsdlxsYAFXxP+ShPp2+x3qCOPJBdrR8dkZGM8YOKfxFIX9pCuQ==</Signature>
  <Features>127</Features>
</LacunaPkiLicense>