<?xml version="1.0" encoding="utf-8"?>
<LacunaPkiLicense xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Version>3</Version>
  <Id>6674dbb7-fb02-41e4-9560-caea3baff591</Id>
  <Licensee>PKI Suite Samples</Licensee>
  <IssueDate>2024-05-31 17:36:03Z</IssueDate>
  <Expiration>2024-07-31 15:00:00Z</Expiration>
  <Signature>6RuTh1t4GJXA2h4vPPuI2CdgCQMj9DNnfxg3v452Ptme2O/IcP6nGhiW9YciMkFdfQQjrMImrFFnoUbCpkjWOlH0KGMgrpoBtjx3duTHXhNoK6JJ1y5ReZOVWAgv3Z2KaezkwRWzaubvF7G2pBe1d2ObWlBzY0Y7icz8N4whPCva0i8qXJYMQIHtvRO5EXHIpyDE51glC6UMORydwJ67JYosHaPHCR3evS0crwBCnjZg+FDeW4/ilE10nuK6cnBDIiVBJZDcT+xOwuPgmxHzwS+oQAmsXIhO9kmsEFibrguYP58GqKGD6DO8ohZrxeM2+c4MKFGLL5ffAL0EFuA9Cg==</Signature>
  <Features>127</Features>
</LacunaPkiLicense>