<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  th:include="layout :: page">
<body>

<div th:fragment="content">
	<h2 class="ls-title">Open existing XML Signature with REST PKI</h2>
	<h5 class="ls-subtitle">The given file contains <span th:text="${signature.size()}"/> signatures:</h5>

	<div class="ls-content">
		<div id="accordion">
			<div class="card" th:each="signer,iterStat : ${signature}" th:with="collapseId='signer_' + ${iterStat.index} + '_collapse', headingId='signer_' + ${iterStat.index} + '_heading'">
				<div class="card-header open-header" th:id="${headingId}">
					<a class="collapsed" role="button" data-toggle="collapse" th:href="'#' + ${collapseId}" aria-expanded="true" th:attr="aria-controls=${collapseId}" th:text="${signer.getCertificate().getSubjectName().getCommonName()}"></a>
					<span>&nbsp;</span>
					<span th:if="${signer.getValidationResults().isValid()}" class="badge badge-success">valid</span>
					<span th:if="${!signer.getValidationResults().isValid()}" class="badge badge-danger">invalid</span>
				</div>
				<div th:id="${collapseId}" class="collapse" role="tabpanel" th:attr="aria-labelledby=${headingId}" data-parent="#accordion">
					<div class="card-body">
						<p>Type: <span th:text="${signer.getType()}"/></p>
						<p th:if="${signer.getSignedElement()}">
							Signed element: <span th:text="${signer.getSignedElement().getLocalName()}"/>
							<text th:if="${signer.getSignedElement().getNamespaceUri()}"> (xmlns: <span th:text="${signer.getSignedElement().getNamespaceUri()}"/>)</text>
						</p>
						<p>Signing time: <span th:text="${signer.getSigningTime()}"/></p>
						<p th:if="${signer.getSignaturePolicy()}">
							Signature policy: <span th:text="${signer.getSignaturePolicy().getOid()}"/>
						</p>
						<p><strong>Signer information</strong>:</p>
						<ul>
							<li><strong>Subject</strong>: <span th:text="${signer.getCertificate().getSubjectName().getCommonName()}"/></li>
							<li><strong>Email</strong>: <span th:text="${signer.getCertificate().getEmailAddress()}"/></li>
							<li>
								<strong>ICP-Brasil fields</strong>:
								<ul>
									<li><strong>Tipo de certificado</strong>: <span th:text="${signer.getCertificate().getPkiBrazil().getCertificateType()}"/></li>
									<li><strong>CPF</strong>: <span th:text="${signer.getCertificate().getPkiBrazil().getCpfFormatted()}"/></li>
									<li><strong>Responsavel</strong>: <span th:text="${signer.getCertificate().getPkiBrazil().getResponsavel()}"/></li>
									<li><strong>Empresa</strong>: <span th:text="${signer.getCertificate().getPkiBrazil().getCompanyName()}"/></li>
									<li><strong>CNPJ</strong>: <span th:text="${signer.getCertificate().getPkiBrazil().getCnpjFormatted()}"/></li>
									<li><strong>RG</strong>: <span th:text="${signer.getCertificate().getPkiBrazil().getRGNumero()}"/> <span th:text="${signer.getCertificate().getPkiBrazil().getRGEmissor()}"/> <span th:text="${signer.getCertificate().getPkiBrazil().getRGEmissorUF()}"/></li>
									<li><strong>OAB</strong>: <span th:text="${signer.getCertificate().getPkiBrazil().getOabNumero()}"/> <span th:text="${signer.getCertificate().getPkiBrazil().getOabUF()}"/></li>
								</ul>
							</li>
						</ul>
						<p th:if="${signer.getValidationResults() != null}">
							<label for="vrHtml">Validation Results</label>:
							<textarea id="vrHtml" style="width: 100%" rows="20" th:inline="text">[[${signer.getValidationResults().toString()}]]</textarea>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>
