@using PkiSuiteAspNetMvcSample.Models.Sdk
@model SignatureInfoModel

<h2 class="ls-title">Sign a Brazilian NFe stored on the server with PKI SDK</h2>

<p>File signed successfully!</p>

<h3>Actions:</h3>
<ul>
	<li><a href="/Download/File/@Model.File">Download the signed file</a></li>
	<li><a href="/OpenXmlSignatureSdk?userfile=@Model.File">Open/validate the signed file</a></li>
</ul>