<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
<body>

<div th:fragment="content">
	<h2 class="ls-title">Authentication with REST PKI</h2>
	<h5 class="ls-subtitle">Authentication failed <i class="fas fa-times-circle text-danger"></i></h5>

	<div class="ls-content">

		<p th:utext="${vrHtml}"></p>
		<p>
			<a th:href="@{/authentication-rest}" class="btn btn-primary">
				<i class="fas fa-undo-alt"></i> Try again
			</a>
		</p>

	</div>
</div>

</body>
</html>
