{% extends "layout.html" %}

{% block content %}

	<h2 class="ls-title">Authentication with REST PKI</h2>
	<h5 class="ls-subtitle">Authentication failed <i class="fas fa-times-circle text-danger"></i></h5>

	<div class="ls-content">
		<!--
		The $vr object can be used as a string, but the string contains tabs and
		new line characters for formatting, which we'll convert to <br>'s and
		&nbsp;'s.
		-->
		<p>{{ vr_html|safe }}</p>

		<p>
			<a href="/authentication-rest" class="btn btn-primary">
				<i class="fas fa-undo-alt"></i> Try again
			</a>
		</p>
	</div>


{% endblock %}