extends ../layout

block content

   h2(class='ls-title') Merge CMS/CAdES signatures with PKI Express

   p Files merged successfully!

   h3 Actions:
   ul
      li
         a(href=`/download?fileId=${outputFile}`, target='_blank') Download the merged file
      li
         a(href=`/open-cades-express?fileId=${outputFile}`)  Open/validate the merged file
      li
         a(href=`/cades-signature-express?cmsfile=${outputFile}`) Co-sign with another certificate